*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
}
a:link,a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: lightblue;
}
.container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    margin-top: 77px;
    background-color: beige;
    box-shadow: 0.5px 0.5px 5px rgb(211, 206, 206);
}
.sidebar{
    width: 20%;
    padding: 20px;
    background-color: white;
    font-family: Oswald;
}
.sidebar h1{
    font-family: Ubuntu;
}
ul{
    padding-left: 20px;
    list-style-type: disc;
}
select:focus{
    outline: none;
}
.wrapper{
    width: 75%;
    height: 100%;
    float: right;
    background-color: beige;
    padding-bottom: 50px;
    margin: auto;
    margin-right: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
}
.header{
    padding-top: 20px;
    margin: auto;
    background-color: #222831;
    height: 55px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    width: 100%;
}
#logo{
    margin-left: 20px;
}
#buy{
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;

}
#stuff{
    word-spacing: 5px;
    float: right;
    padding-right: 20px;
}
img{
    width: 100%;
    height: auto;
}
.image{
    width: 95%;
    height: auto;
    margin: auto;
}
.laptop{
    margin: auto;
    width: 100%;
    height: 380px;
    padding-top: 20px;
    background-color: white;
    transition: ease-in 0.3s;
    font-family: Gayathri Thin;
}
.laptop:hover{
    transform: scale(1.05);
    box-shadow: 1.5px 1.5px 5px;
}
.laptop h1{
    font-family: Samanata;
}
button{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: initial;
    background-color: beige;
    border: 2px solid black;
    transition: ease-out 0.5s;
}
button:hover{
    background-color: black;
    color: white;
}
button:focus{
    outline: none;
}