body{
	background-color: ;
}
h1{
	font-family: Fredoka One;
	letter-spacing: 3px;
	text-align: center;
	color: #00BD56;
}
p{
	font-family: Roboto Mono;
	font-size: 20px;
}
#p1{
	color: #2F4A36;
}
#p2{
	color: #76A21E;
}
#p3{
	color: #60712F;
}
#p4{
	color: #004A2F;
}