*{
    margin: 0px;
    padding: 0px;
}
body{
	background-color: #393e46;
}

.wrapper{
	padding-top: 250px;
    display: flex;
    padding: auto;
    align-items: center;
    align-content: center;
	margin: auto;
}
.naruto{
	text-justify: auto;
	background-color: white;
    border-radius: 20px;
    margin: auto;
    height: 400px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 150px;
    box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
} 
.naruto:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.sakura{
	text-justify: auto;
	background-color: white;
    border-radius: 20px;
    margin: auto;
    height: 400px;
	padding: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
	width: 150px;
	box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
}
.sakura:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.sasuke{
	background-color: white;
    text-justify: auto;
    border-radius: 20px;
    margin: auto;
    height: 400px;
	padding: 50px;
	padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
	width: 150px;
	box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
}
.sasuke:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
h1{
    font-family: Open Sans Extrabold;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.naruto h1{
    background-image: linear-gradient(to right,#ff9a00 40%,#ff5700);
}
.sakura h1{
    background-image: linear-gradient(to right,#FF9B9C 20%,#ff6768);
}
.sasuke h1{
    background-image: linear-gradient(to right,#916C80 30%,#BA7BA1);
}
.image img{
	width: 100%;
	height: 100%;
}
.image{
	height: 188px;
	width: 150px;
}
b{
    color: #00BD56;
}
p{
    font-family: 'Courier New', Noto Sans Mono, Courier, monospace;
}