*{
    margin: 0px;
    padding: 0px;
}
body{
}
.text h1{
    text-align: right;
    font-family: Balsamiq Sans;
    color: #ff9a00;
    padding: 1%;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: #393e46;
    width: 100%;
    height: auto;
    min-width: 1920px;
}
.naruto{
	text-justify: auto;
	background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 9%;
    height: auto;
    padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
} 
.naruto:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.sakura{
	text-justify: auto;
	background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 9%;
    height: auto;
	padding: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
	box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
}
.sakura:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.sasuke{
	background-color: white;
    text-justify: auto;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 9%;
    height: auto;
	padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
	box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
}
.sasuke:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.kakashi{
	background-color: white;
    text-justify: auto;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 90%;
    width: 9%;
	padding: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
	box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
}
.kakashi:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.wrapper h1{
    font-family: Open Sans Extrabold;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.naruto h1{
    background-image: linear-gradient(to right,#ff9a00 40%,#ff5700);
}
.sakura h1{
    background-image: linear-gradient(to right,#FF9B9C 20%,#ff6768);
}
.sasuke h1{
    background-image: linear-gradient(to right,#916C80 30%,#BA7BA1);
}
.kakashi h1{
    background-image: linear-gradient(to right,#6CD4FF 30%,#30BCED);
}
img{
	width: 100%;
	height: 100%;
}
.image{
	height: 70%;
    width: 70%;
    padding: 3%;
}
.kakashi .image{
    height: 100%;
    width: 100%;
    padding: 3%;
}
.logo{
    width: 15%;
    height: 15%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
b{
    color: #00BD56;
}
p{
    font-family: 'Courier New', Noto Sans Mono, Courier, monospace;
}