.calculator
{
    margin: 300px auto;
    width: 275px;
    height: auto;
}
button{
    font-size: 50px;
    width: 100%;
}
.fbtn{
    height: 130px;
}
input{
    width: 100%;
    font-size: 50px;
}
