*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 350px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text h1{
    text-align: right;
    font-family: Balsamiq Sans;
    font-size: 5em;
    color: #ff9a00;
    padding: 1%;
}

.wrapper{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    justify-content: space-around;
    margin: auto;
    padding: 1em;
    background-color: #393e46;
    width: 100%;
    height: auto;
}

.naruto,.sasuke,.kakashi{
	text-justify: auto;
	background-color: white;
    border-radius: 20px;
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.6);
    transition: 0.5s ease;
    cursor: pointer;
} 
.naruto:hover,.sasuke:hover,.kakashi:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.naruto{
    padding: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.sasuke{
	padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.kakashi{
	padding: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.wrapper h1{
    font-family: Open Sans Extrabold;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.naruto h1{
    background-image: linear-gradient(to right,#ff9a00,#ff5700);
}
.sasuke h1{
    background-image: linear-gradient(to right,#0F3974,#BA7BA1);
}
.kakashi h1{
    background-image: linear-gradient(to right,#34A7B2,#207DFF);
}

img{
	width: 100%;
    height: 100%;
}
.image{
    height: auto;
    width: 100%;
    margin: auto;
}
.kakashi .image{
    height: 65%;
}
b{
    color: #00BD56;
}
p{
    font-family: 'Courier New', Noto Sans Mono, Courier, monospace;
}