img{
    width: 100%;
}
.col img{
    height: 400px;
}
.header{
    box-shadow: 0px 1px 4px -1px rgba(30, 30, 60, 0.16);
    font-family: Courier New;
}
.header i img{
    width: 18px;
}
.header-container{
    display: flex;
    margin: 0px 202.5px;
}
.header-left{
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
    align-items: center;
}
.header-right{
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    align-items: center;
}
.textgroup a{
    color: #707070;
}
a{
    color: #ff5d3b;
}
a:hover{
    text-decoration: none;
}
.header-right button{
    background-color: none;
    border: none;
}
.form-control:focus {
  border: none;
  box-shadow: none;
}
.search-bar{
    flex-basis: 72.9%;
}
.user-icons img{
    width: 44px;
}
#wishpop{
    display: none;
    font-size: 14px;
    width: 15%;
    position: absolute;
    background-color: white;
    padding: 17px;
    padding-bottom: 10px;
    border-radius: 0px 0px 6px 6px;
    margin: 0px 0px 0px -250px;
    line-height: 20px;
    box-shadow: 0px 11px 29px -11px #999999;
}
#wish:hover~#wishpop{
    display: block;
}
#userpop{
    display: none;
    font-size: 14px;
    width: 15%;
    position: absolute;
    background-color: white;
    padding: 17px;
    padding-bottom: 10px;
    border-radius: 0px 0px 6px 6px;
    margin: 0px 0px 0px -150px;
    line-height: 20px;
    box-shadow: 0px 11px 29px -11px #999999;
}
#user:hover~#userpop{
    display: block;
}