img{
    width: 100%;
}
section{
    width: 100%;
}
.header{
    box-shadow: 0px 1px 4px -1px rgba(30, 30, 60, 0.16);
    font-family: Courier New;
    padding: 0.1px 0px 0.1px 0px;
    background-color: white;
}
.header i img{
    width: 18px;
}
.header-container{
    display: flex;
    margin: 0px 202.5px;
}
.header-left{
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
    align-items: center;
}
.header-right{
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    align-items: center;
}
.textgroup a{
    color: #707070;
}
.header-right a{
    color: #ff5d3b;
}
a:hover{
    text-decoration: none;
}
.header-right button{
    background-color: none;
    border: none;
}
.form-control:focus {
  border: none;
  box-shadow: none;
}
.search-bar{
    flex-basis: 72.9%;
}
.user-icons img{
    width: 44px;
}
#wishpop{
    display: none;
    font-size: 14px;
    width: 15%;
    position: absolute;
    background-color: white;
    padding: 17px;
    padding-bottom: 10px;
    border-radius: 0px 0px 6px 6px;
    margin: 0px 0px 0px -240px;
    line-height: 20px;
    box-shadow: 0px 11px 29px -11px #999999;
    transition: 12ms;
}
#wish:hover~#wishpop{
    display: block;
}
#userpop{
    display: none;
    font-size: 14px;
    width: 15%;
    position: absolute;
    background-color: white;
    padding: 17px;
    padding-bottom: 10px;
    border-radius: 0px 0px 6px 6px;
    margin: 0px 0px 0px -150px;
    line-height: 20px;
    box-shadow: 0px 11px 29px -11px #999999;
}
#user:hover~#userpop{
    display: block;
}


.dropdown {
    position:static !important;
}
.dropdown-menu {
    margin-top:-2px !important;
    margin: 0px;
    width:100% !important;
}
nav li{
    margin: 0px 22px;
    border: none;
}
a{
    color: black;
    font-weight: lighter;
}
a:hover{
    color: #ff5d3b;
    
}
nav li:hover{
    border-bottom: 2px solid #ff5d3b;
}
.dropdown-toggle::after {
    content: none;
}
